In [2]:
import sqlite3
import pandas as pd

# Load the data files
unity_df = pd.read_csv('C:\\Users\\AKSHARA RAJ MAKWANA\\Desktop\\hinge\\interviews-data_akshara1412-main\\interviews-data_akshara1412-main\\unity_golf_club.csv')
us_softball_df = pd.read_csv('C:\\Users\\AKSHARA RAJ MAKWANA\\Desktop\\hinge\\interviews-data_akshara1412-main\\interviews-data_akshara1412-main\\us_softball_league.tsv', delimiter='\t')
companies_df = pd.read_csv('C:\\Users\\AKSHARA RAJ MAKWANA\\Desktop\\hinge\\interviews-data_akshara1412-main\\interviews-data_akshara1412-main\\companies.csv')

In [3]:
# Create a connection to the SQLite3 database
conn = sqlite3.connect('orders.db')

In [4]:
# Create the unity table
unity_df.to_sql('unity', conn, if_exists='replace', index=False)

8466

In [5]:
# Create the us_softball table
us_softball_df.to_sql('us_softball', conn, if_exists='replace', index=False)

7652

In [7]:
# Create the companies table
companies_df.to_sql('companies', conn, if_exists='replace', index=False)

20

In [8]:
# Commit the changes and close the connection
conn.commit()
conn.close()